html{
        height: 100%;
        width: 100%;
}

body{
        overflow:hidden;
        background: repeating-radial-gradient(
                circle, 
                rgb(133,49,186),
                rgb(57,14,83) 40px,
                rgb(57,14,83) 45px,
                rgb(133,49,186) 50px
        );
        background-repeat: no-repeat;
        height: 100%;
}

a:link {
        text-decoration: none;
        color: white;
}
      
a:visited {
        text-decoration: none;
        color: white;
}
      
a:hover {
        text-decoration: underline;
        color: white;
}
      
a:active {
        text-decoration: underline;
        color: white;
}

h1 {
        color: yellow;
        font-size: 5vh;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-family: Helvetica;
        text-align: center;
}

.backText {
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-family: Helvetica;
}

textarea {
        resize: none;
        width: 70%;
        font-family: Helvetica;
        font-size: 1em;
        /* background: repeating-linear-gradient(
                45deg,
                rgba(60, 186, 208, 0.3),
                rgba(60, 186, 208, 0.3) 10px,
                rgba(112, 46, 143, 0.3) 10px,
                rgba(112, 46, 143, 0.3) 20px,
                rgba(248, 47, 79, 0.3) 20px,
                rgba(248, 47, 79, 0.3) 30px,
                rgba(250, 197, 55, 0.3) 30px,
                rgba(250, 197, 55, 0.3) 40px
        ); */
}

#filmName {
        font-size: 2em;
        width: 70%;
        text-align: center;
}

input {
        font-family: Helvetica;
}

#playArea {
        display: none;
        height: 80%;
}

#playArea::after {
    content: "";
    display: table;
}

#revealArea {
        text-align: center;
        font-size: 9vh;
        margin: auto;
}

.button{
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        margin: 0 auto;
        text-align: center;
        border-radius: 15px;
        box-shadow: 0 9px #999;
 }

.button:hover {background-color: #3e8e41}

.button:active {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
 }

.noselect{
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently */
}

#underline{
        background: repeating-linear-gradient(
                45deg,
                rgb(60, 186, 208),
                rgb(60, 186, 208) 10px,
                rgb(112, 46, 143) 10px,
                rgb(112, 46, 143) 20px,
                rgb(248, 47, 79) 20px,
                rgb(248, 47, 79) 30px,
                rgb(250, 197, 55) 30px,
                rgb(250, 197, 55) 40px
        );
}

#formfield{
        margin: 0 auto;
        text-align: center;
        max-width: 700px;
}

.keywordField{
        text-align: center;
}

.container {
        margin-left: auto;
        margin-right: auto;
        /*! min-height: 100%; */
        height: 70%;
        display: flex;
        flex-direction: column;
}

#controls {
        display: none;
        /*! position: absolute; */
        bottom: 60px;
        right: 0;
        left: 0;
        text-align: center;
}

li{
        padding-left:0;
        list-style-type:none;
        font-size: 3vh;
        height: 10%;
        /*! display: table; */
        align-content: center;
        text-align: center;
}

.footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 50px;
        background-color: #403d3d;
        text-align: center;
}
      
.footer p {
        color: rgb(119, 119, 119);
        text-align: center;
}

 .puff-in-center {
        -webkit-animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 /* ----------------------------------------------
 * Generated by Animista on 2020-7-2 23:2:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
   0% {
     -webkit-transform: scale(2);
             transform: scale(2);
     -webkit-filter: blur(4px);
             filter: blur(4px);
     opacity: 0;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 @keyframes puff-in-center {
   0% {
     -webkit-transform: scale(2);
             transform: scale(2);
     -webkit-filter: blur(4px);
             filter: blur(4px);
     opacity: 0;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 